*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family:'poppins' ,sans-serif ;
}
body{
    background-color: #000;
}
.card{
    width: 90%;
    margin:60px auto;
    max-width: 450px;
    /* height: 500px; */
    border-radius: 20px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    padding: 40px 40px;
    /* margin:100px auto 0; */
    text-align: center;
}
.searchbox{
    display: flex; 
    justify-content: space-around;
    margin: 0px 30px;
}
.search{
    width: 90%;
    margin: 0px 12px;
}
.search input{
  width: 100%;
  padding: 12px 18px;
  font-size: 18px;
  border-radius: 25px;
  outline: none;
  border: none;
  background: #ebfffc;
}
.searchbtn button{
    padding: 12px;
    border-radius: 50%;
    border: none;
    font-size:18px ;
    cursor: pointer;
}
.weatherpoints h1{
    margin: 10px 0px;
    font-size: 3.5rem;
    font-weight: 600;
}
.wahtercity{
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.seconddetail,.firstdetail  {
    display: flex;
    font-weight: 600;
    font-size: 1.1rem;
}
.shortdetail{
    margin-left: 10px;
}
